@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 333.3 100% 95%;
  --foreground: 333.3 5% 0%;
  --card: 333.3 50% 90%;
  --card-foreground: 333.3 5% 10%;
  --popover: 333.3 100% 95%;
  --popover-foreground: 333.3 100% 0%;
  --primary: 333.3 71.4% 50.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 333.3 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 295.3 30% 85%;
  --muted-foreground: 333.3 5% 35%;
  --accent: 295.3 30% 80%;
  --accent-foreground: 333.3 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 333.3 5% 90%;
  --border: 333.3 30% 50%;
  --input: 333.3 30% 18%;
  --ring: 333.3 71.4% 50.6%;
  --radius: 0.5rem;
}
.dark {
  --background: 333.3 50% 5%;
  --foreground: 333.3 5% 90%;
  --card: 333.3 50% 0%;
  --card-foreground: 333.3 5% 90%;
  --popover: 333.3 50% 5%;
  --popover-foreground: 333.3 5% 90%;
  --primary: 333.3 71.4% 50.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 333.3 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 295.3 30% 15%;
  --muted-foreground: 333.3 5% 60%;
  --accent: 295.3 30% 15%;
  --accent-foreground: 333.3 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 333.3 5% 90%;
  --border: 333.3 30% 18%;
  --input: 333.3 30% 18%;
  --ring: 333.3 71.4% 50.6%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased bg-background text-foreground;
  }
}
